<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chart</title>

    <link rel="stylesheet" href="/chart.css">
</head>
<body>

<header class="header">
    <div class="header-inner">
        <h1 id="title">График</h1>
        <div class="meta">
            <span id="symbol"></span>
            <span class="status live">LIVE</span>
        </div>
    </div>
</header>

<main class="container">
    <div id="message" class="message-box">
        Ожидание данных...
    </div>
</main>

<script src="/chart.js"></script>
</body>
</html>